<p id="notice"><%= notice %></p>

<p>
  <strong>Category type:</strong>
  <%= @catgory.category_type %>
</p>

<%= link_to 'Edit', edit_catgory_path(@catgory) %> |
<%= link_to 'Back', catgories_path %>
