<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @designation.title %>
</p>

<%= link_to 'Edit', edit_designation_path(@designation) %> |
<%= link_to 'Back', designations_path %>
