<p id="notice"><%= notice %></p>

<p>
  <strong>Station name:</strong>
  <%= @workstaion.station_name %>
</p>

<%= link_to 'Edit', edit_workstaion_path(@workstaion) %> |
<%= link_to 'Back', workstaions_path %>
