<h1 style="color: #ccc" >Welcome to LaundryApp</h1>
<b style ="font-size:19px"><span style = "color: green
">FAST</span>&nbsp <span style = "color: #f1c40f ">CLEAN</span>&nbsp <span style = "color:#a569bd">SATISFIYING</span></b>&nbsp SERVICES

  
 
  
